<html>
    <head>
        <title>Restaurant rating</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>Restaurant Rating prediction</h1>

        <form action="{{url_for('predict')}}" method="post">
            
                <div>
                    <input type="text" name="online order" placeholder="online order" required="required"/>
                </div>
                <div>
                    <input type="text" name="Book Table" placeholder="Book Table" required="required"/>
                    </div>
            <div>
                <input type="text" name="Votes" placeholder="Votes" required="required"/>
            </div>
            <div>
                <input type="text" name="Location" placeholder="Location" required="required"/></div>
            <div>
                <input type="text" name="Restaurant Type" placeholder="Restaurant Type" required="required"/></div>
            <div>
                <input type="text" name="Cuisines" placeholder="Cuisines" required="required"/></div>
            <div><input type="text" name="cost" placeholder="cost" required="required"/></div>
            <div>
                <input type="text" name="menu item" placeholder="menu item" required="required"/></div>
                <div>
                    <button type="submit" class="btn btn-danger btn-large">predict</button></div>
        </form>
        <br>
        <br>
        {{prediction_text}}


    </body>
</html>